extends ../../views/layout

block content
  h1= title
  h2= 'Start Date: ' + leave.startDate_formatted
  h2= 'End Date: ' + leave.endDate_formatted
  
  p Do you really want to delete this leave?

  form(method='POST' action='')
    div.form-group
      input#leaveid.form-control(type='hidden',name='leaveid', required='true', value=leave._id )

    button.btn.btn-primary(type='submit') Delete
    p
    a(href='/persons/person/'+person.id+'/leave')
        button.btn.btn-danger(type='button') Cancel
