extends ../../views/layout

block content
  h1= title
  h2= 'Description: ' + organization.description
  
  p Do you really want to delete this organization?

  form(method='POST' action='')
    div.form-group
      input#organizationid.form-control(type='hidden',name='organizationid', required='true', value=organization._id )

    button.btn.btn-primary(type='submit') Delete
    p
    a(href='/organizations')
      button.btn.btn-danger(type='button') Cancel

  if (errors)
    ul 
      for error in errors 
        li!= error.msg
