extends ../../views/layout

block content
  h1= title
  h2= 'Description: ' + training.description

  p Do you really want to remove this training requirement for the job?

  form(method='POST' action='')
    div.form-group
      input#trainingid.form-control(type='hidden',name='trainingid', required='true', value=training._id )

    button.btn.btn-primary(type='submit') Delete
