extends ../../views/layout

block content
  h1= title
  h2= 'Description: ' + job.description

  p Do you really want to delete this job?

  form(method='POST' action='')
    div.form-group
      input#jobid.form-control(type='hidden',name='jobid', required='true', value=job._id )

    button.btn.btn-primary(type='submit') Delete
    p
    a(href='/jobs/'+job.organization)
      button.btn.btn-danger(type='button') Cancel
  if errors 
      ul  
          for error in errors 
              li!= error.msg