extends ../../views/layout

block content
  h1= title
  h1= 'Name: ' + role.name
  p= 'Description: ' + role.description

  p Do you really want to delete this role from the job?

  form(method='POST' action='')
    div.form-group
      input#roleid.form-control(type='hidden',name='roleid', required='true', value=role._id )

    button.btn.btn-primary(type='submit') Delete
    p
    a(href='/jobs/job/'+job.id+'/roles')
      button.btn.btn-danger(type='button') Cancel
